$title_color: #fff;
$title_color2: #283433;
$text_color: #fff;
$text_color2: #000;
$menu_color: #fffeff;

$background_color_main_container: #fffeff;
$background_color_body: #eeecee;
$background_color_menu: linear-gradient(to bottom, #0066ff 0%, #003380 100%);
$background_color_footer: linear-gradient(to bottom, #003380 0%, #0066ff 100%);

$background_color_button: linear-gradient(to bottom, #ff9900 0%, #ffad33 100%);

$background_color_h1: linear-gradient(to bottom, #ff3399 0%, #ff66b3
100%);

$hover_color: #c0075c;

$search_box_background: #6e1e44;
$search_box_text: #fff;

$footer_links: #f25d3c;